DATABASE_URL="mysql://username:password@host:port/database"
NEXTAUTH_SECRET="yoursecret"
NEXTAUTH_URL="http://localhost:3000"
REDIS_URL="https://your-redis-url.upstash.io"
REDIS_TOKEN="your-redis-token"
BASE_URL="http://localhost:3000"
